@model TheDigitalToolbox.Models.Comment

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Comment" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Date" />
            <input type="submit" value="Add Comment" class="btn btn-primary align-items-stretch mb-3" />
            <textarea asp-for="Text" class="form-control" rows="2" style="resize: both; max-width: stretch"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
