@model TheDigitalToolbox.Models.Comment

<table class="table table-bordered table-striped table-dark table-sm">
    <tr>
        <td>@Model.Commenter</td>
        <td>@Model.Text</td>
        <td>@Html.DisplayFor(m => m.Date, "{0,MM/dd/yyyy}")</td>
        <td><a data-btn-edit asp-controller="Comment" asp-action="Edit">Edit</a></td>
    </tr>
</table>