@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">The Digital Toolbox</h1>
    <p class="h3 text-justify font-weight-normal">This site is dedicated to an open-source collection of programs, macros, and calculators of the author; but also allows for user registration, additions, and comments.</p>

</div>
