@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Digital Toolbox</h1>
    <p>This site is dedicated primarily as an open-source collection of programs, macros, and calculators of the author; but also allows for user registration, additions, and comments.</p>

</div>
